h1 {
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
}

#cabecalho{
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}


table {
  border-collapse: collapse;
  width: 100%;
  padding: 3cm;
}

th, td {
  border: 2px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #blue;
}



