


h1 {
  font-size: 32px;
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  font-weight: bold;
  text-align: center;

}

#cabecalho{
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;

}

table {
  border-collapse: collapse;
  width: 90%;
}

th, td {
  border: 2px solid black;
  padding: 8px;
  text-align: left;
}
 .colA{
  background-color: #48c210;
  width: 80%;
}

.colB{
  background-color: #48c210;
  width: 15%;
}

.titulo{
    background-color: rgb(29, 185, 29);
    font-size: 40px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 0 auto;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

.obs{
    border: 2px solid black;
}

.col {
background-color: #48c210;
  width: 5%;
}

._main_footer {
  position: absolute;
  bottom: 0;
  width: 100%;