{% load bootstrap %}
{% block content %}
    <h1>ALUNO</h1>

<table class="table table-striped" border="1px">
    <thead>
    <th>Excercício</th>
    <th>Repetições</th>
    </thead>
    <tbody>
    <tr>
        <td><p>{{ object.aexc_1 }}</p></td>
        <td><p>{{ object.rep1 }}</p></td>
    </tr>
    <tr>
        <td><p>{{ object.aexc_2 }}</p></td>
        <td><p>{{ object.rep2 }}</p></td>
    </tr>
    <tr>
        <td><p>{{ object.aexc_3 }}</p></td>
        <td><p>{{ object.rep3 }}</p></td>
    </tr>
    <tr>
        <td><p>{{ object.aexc_4 }}</p></td>
        <td><p>{{ object.rep4 }}</p></td>
    </tr>
    <tr>
        <td><p>{{ object.aexc_5 }}</p></td>
        <td><p>{{ object.rep5 }}</p></td>
    </tr>
    <tr>
        <td><p>{{ object.aexc_6 }}</p></td>
        <td><p>{{ object.rep6 }}</p></td>
    </tr>
    <tr>
        <td><p>{{ object.aexc_7 }}</p></td>
        <td><p>{{ object.rep7 }}</p></td>
    </tr>
    <tr>
        <td><p>{{ object.aexc_8 }}</p></td>
        <td><p>{{ object.rep8 }}</p></td>
    </tr>
    <tr>
        <td><p>{{ object.aexc_9 }}</p></td>
        <td><p>{{ object.rep9 }}</p></td>
    </tr>
    <tr>
        <td><p>{{ object.aexc_10 }}</p></td>
        <td><p>{{ object.rep10 }}</p></td>
    </tr>
    <tr>
        <td><p>{{ object.aexc_11 }}</p></td>
        <td><p>{{ object.rep11 }}</p></td>
    </tr>
    <tr>
        <td><p>{{ object.aexc_12 }}</p></td>
        <td><p>{{ object.rep12 }}</p></td>
    </tr>

    </tbody>

    <p>{{ object.obs }}</p>

{% endblock %}